@import url('../common.css');

/** layout **/
#container {height: 100%;}
#content {width: 950px;float: left;padding: 0px 30px 0 30px;}

#sub_top {width: 100%;height: 50px;background: #fff;border-bottom: 1px solid #e7e7e7;}
#sub_top li {display: inline-block;line-height: 50px;margin-right: 20px;color: #8f8f8f;}
#sub_top li:nth-child(4) {color: #333;font-weight: 500;}
#sub_top li:last-child {float: right;}
#sub_top li .sub_icon .fa-qrcode,.fa-print,.fa-facebook-f,.fa-twitter {margin-left: 10px;color: #8f8f8f;display: inline-block}

/** table sheet **/
/* reset */
* { list-style: none;text-decoration: none; padding: 0;margin: 0;box-sizing: border-box;}
.clearfix:after {content: '';display: block;clear: both;}
.content_icontainer {width: 100%;margin: 0 auto;}
.blind { position: absolute;overflow: hidden;clip: rect(0 0 0 0);margin: -1px;width: 1px;height: 1px;}
/* table */
table {border-collapse: collapse; border-spacing: 0;}
section.notice {padding: 30px 0;}
.page-title {margin-bottom: 30px;}
.page-title h3 {font-size: 28px;color: #333333;font-weight: 700;text-align: center;padding-bottom: 30px;}
/* tab */
.tabs {margin: 0 auto;font-size: 0;}
.tabs > input[type="radio"] {display: none;}
.tabs > div { display: none; padding: 10px 15px;font-size: 16px;border-top: 2px solid #5fb7ac;}
#tab-btn-1:checked ~ #content-1,#tab-btn-2:checked ~ #content-2,#tab-btn-3:checked ~ #content-3 {display: block;}
.tabs > label { display: inline-block;text-align: center;vertical-align: middle; user-select: none;
  background-color: #f5f5f5; border: 1px solid #ccc;border-bottom: 1px solid #5fb7ac; padding: 10px 10px;font-size: 16px;
  line-height: 1.5; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;position: relative; top: 1px;}
.tabs > label:not(:first-of-type) { border-left: none;}
.tabs > input[type="radio"]:checked + label { background-color: #5fb7ac; border-bottom: 2px solid #5fb7ac;color: #fff;}

/* tab_1*/
#content-1 img {width: 100%;}
#content-1 > p {margin-top: 40px;line-height: 20px;}
#content-1 > p:nth-child(3) {margin: 100px 0 100px 200px;font-weight: bold;color: #666;}
#content-1 > p:nth-child(3) span {font-size: 24px;margin-left: 10px;height: 24px;vertical-align:-2px}
/* tab_2*/
#content-2 table {width: 100%;text-align: center;border-top: 2px solid #333;border-bottom: 2px solid #ccc;}
#content-2 caption {display: none;}
#content-2 thead {background: #f0f8fd;}
#content-2 td {padding: 10px 5px}
#content-2 td:nth-child(1) {width: 20%;border-right: 1px solid #ccc;}
#content-2 td:nth-child(2) {width: 20%;border-right: 1px solid #ccc;}
#content-2 tr {border-bottom: 1px solid #ccc}
#content-2 .tenure {background: #fffdda;}